.ExampleDatasetOverview {
    font-size: 0;
}

.ExampleDatasetOverview .ClassSelect {
    font-weight: bold;
    font-size: x-large;
}

.ExampleDatasetOverview .DatasetItem {
    height: 34%;
    width: 33.33%;
    display: inline-block;
}

.ExampleDatasetOverview .ToChange {
    top: 0;
    left: 17%;
    height: 66%;
    width: 66%;
    display: block;
}

.ExampleDatasetOverview > button {
    position: absolute;
    top: 40%;
    width: 5%;
    height: 20%;
    font-weight: bold;
    font-size: xx-large;
}

.ExampleDatasetOverview > .Previous {
    left: 0;
}

.ExampleDatasetOverview > .Next {
    right: 0;
}