.ExampleDatasetOverview {
    font-size: 0;
}

.ExampleDatasetOverview .ClassSelect {
    font-weight: bold;
    font-size: x-large;
}

.ExampleDatasetOverview .DatasetItem {
    height: 50%;
    width: 50%;
    display: inline-block;
}

.ExampleDatasetOverview .ToChange {
    top: 0;
    left: 0;
}

.ExampleDatasetOverview .Example0 {
    top: 0;
    right: 0;
}

.ExampleDatasetOverview .Example1 {
    bottom: 0;
    left: 0;
}

.ExampleDatasetOverview .Example2 {
    bottom: 0;
    right: 0;
}

.ExampleDatasetOverview > button {
    position: absolute;
    top: 40%;
    width: 5%;
    height: 20%;
    font-weight: bold;
    font-size: xx-large;
}

.ExampleDatasetOverview > .Previous {
    left: 0;
}

.ExampleDatasetOverview > .Next {
    right: 0;
}