.MultiItemDatasetOverview .Items {
    height: 100%;
}

.MultiItemDatasetOverview .Samples {
    height: 100%;
    background-color: dimgray;
}

.MultiItemDatasetOverview .SampleRow {
    height: 100%;
}
