.SingleItemDatasetOverview {
    font-weight: bold;
    font-size: xx-large;
}

.SingleItemDatasetOverview .DatasetItem {
    height: 66%;
    width: 66%;
    top: 17%;
    left: 17%
}

.SingleItemDatasetOverview .ClassSelect {
    font-weight: inherit;
    font-size: inherit;
}

.SingleItemDatasetOverview > button {
    position: absolute;
    top: 40%;
    width: 5%;
    height: 20%;
    font-weight: inherit;
    font-size: inherit;
}

.SingleItemDatasetOverview > .Previous {
    left: 0;
}

.SingleItemDatasetOverview > .Next {
    right: 0;
}

.SingleItemDatasetOverview .DataComponent {
    width: 100%;
    height: 100%;
    object-fit: contain;
}