.AnnotatorPage {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.AnnotatorPage > .menuBar {
    width: 100%;
    position: relative;
    left: 0;
    background-color: aquamarine;
    flex-shrink: 0;
}

.AnnotatorPage > .AnnotatorTopMenu {
    top: 0;
}

.AnnotatorPage > .AnnotatorTopMenu > .MenuButton {
    position: absolute;
    left: 0;
}

.AnnotatorPage > .DatasetOverview {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

