.SubmitCancelVideoAnnotation {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.SubmitCancelVideoAnnotationRange {
    position: absolute;
    bottom: 0;
}

.FrameMultiSelect {
    position: absolute;
    bottom: 0;
    right: 0;
}